button {
  @include border-radius(3px);
  @include transition();
  @extend .padding-vertical-medium;
  @extend .padding-horizontal-large;

  border: none;
  color: $cerulean;
  font-size: $button-text;
  background-color: transparent;
  cursor: pointer;

  &.button-primary,
  &.button-alert {
    color: $white;

    &:disabled {
      background-color: $lavender-gray;
      color: $white;
    }
  }

  &.button-primary {
    background-color: $cerulean;
  }

  &.button-alert {
    background-color: $sunset-orange;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    @include opacity(0.8);
  }

  &:disabled {
    cursor: default;
    color: $lavender-gray;
    &:hover {
      @include opacity(1);
    }
  }
}
