form {
  width: 100%;
  legend {
    @extend h3;
    padding-top: 0;
  }
}

input, textarea {
  @extend .margin-bottom-medium;

  &:focus {
    outline: none;
  }
}

input[type="text"], textarea {
  @extend .padding-round-medium;

  @include border-radius(3px);
  @include box-shadow(none);

  border: 1px solid $lavender-gray;
  font-size: $font-text;
  width: 100%;
}

textarea {
  resize: vertical;
}
