/* Padding and margins reusable styles */
$size-list: (small: $padding-small, medium: $padding-medium, large: $padding-large, xlarge: $padding-xlarge);

// Padding all around (top, right, bottom, left)
@each $size, $sizes in $size-list {
  .padding-round-#{$size} {
    padding: $sizes;
  }
}

// Padding vertical (top, bottom)
@each $size, $sizes in $size-list {
  .padding-vertical-#{$size} {
    padding-top: $sizes;
    padding-bottom: $sizes;
  }
}

// Padding horizontal (right, left)
@each $size, $sizes in $size-list {
  .padding-horizontal-#{$size} {
    padding-left: $sizes;
    padding-right: $sizes;
  }
}

// Padding top
@each $size, $sizes in $size-list {
  .padding-top-#{$size} {
    padding-top: $sizes;
  }
}

// Padding right
@each $size, $sizes in $size-list {
  .padding-right-#{$size} {
    padding-right: $sizes;
  }
}

// Padding bottom
@each $size, $sizes in $size-list {
  .padding-bottom-#{$size} {
    padding-bottom: $sizes;
  }
}

// Padding left
@each $size, $sizes in $size-list {
  .padding-left-#{$size} {
    padding-left: $sizes;
  }
}

// Margin all around (top, right, bottom, left)
@each $size, $sizes in $size-list {
  .margin-round-#{$size} {
    margin: $sizes;
  }
}

// Padding vertical (top, bottom)
@each $size, $sizes in $size-list {
  .margin-vertical-#{$size} {
    margin-top: $sizes;
    margin-bottom: $sizes;
  }
}

// Padding horizontal (right, left)
@each $size, $sizes in $size-list {
  .margin-horizontal-#{$size} {
    margin-left: $sizes;
    margin-right: $sizes;
  }
}

// Padding top
@each $size, $sizes in $size-list {
  .margin-top-#{$size} {
    margin-top: $sizes;
  }
}

// Padding right
@each $size, $sizes in $size-list {
  .margin-right-#{$size} {
    margin-right: $sizes;
  }
}

// Padding bottom
@each $size, $sizes in $size-list {
  .margin-bottom-#{$size} {
    margin-bottom: $sizes;
  }
}

// Padding left
@each $size, $sizes in $size-list {
  .margin-left-#{$size} {
    margin-left: $sizes;
  }
}

/* Other reusable styles */
.center-align {
  @include center-block();
}
