// Font
$droid-serif:       'Droid Serif', serif;
$default-font:     $droid-serif;

// Font weight
$regular:          400;
$bold:             700;

// Font sizes
$h1:               32px;
$h2:               24px;
$h3:               18px;
$h4:               15px;
$h5:               13px;
$h6:               11px;
