// Grid
$grid-gutter:              30px;
$xlarge-container:         1140px;
$large-container:          960px;
$medium-container:         768px;
$small-container:          576px;
$xsmall-container:         450px;
$grid-columns:             12;

$large-breakpoint:         1200px;
$medium-breakpoint:        992px;
$small-breakpoint:         768px;
$xsmall-breakpoint:        576px;

$column-width-xlarge:      ($xlarge-container - ($grid-columns - 1) * $grid-gutter) / $grid-columns;
$column-width-large:       ($large-container - ($grid-columns - 1) * $grid-gutter) / $grid-columns;
$column-width-medium:      ($medium-container - ($grid-columns - 1) * $grid-gutter) / $grid-columns;
$column-width-small:       ($small-container - ($grid-columns - 1) * $grid-gutter) / ($grid-columns / 2);

// Font
$droid-serif:              'Droid Serif', serif;
$default-font:             $droid-serif;

// Font weight
$regular:                  400;
$bold:                     700;

// Font sizes
$h1:                       32px;
$h2:                       24px;
$h3:                       18px;
$h4:                       15px;
$h5:                       13px;
$h6:                       11px;

$default-text:             16px;
$font-text:                $default-text;
$button-text:              $default-text;
$form-text:                $default-text;

// Paddings
$padding-small:            5px;
$padding-medium:           10px;
$padding-large:            15px;
$padding-xlarge:           25px;

// Colors
$white:                    #ffffff;
$rich-black:               #090617;
$japanese-indigo:          #243147;
$dark-cerulean:            #124A72;
$cerulean:                 #1276A9;
$spiro-disco:              #28D6F7;
$lavender-gray:            #C5C3C6;
$outer-space:              #46494C;
$deep-space-sparkle:       #4C5C68;
$sunset-orange:            #F25F5C;
