$size-list: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

.container {
  width: $large-container;
  @include center-block;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.col {
  display: inline-flex;
  float: left;
  padding: 10px 0;
  background-color: gray;
  width: $column-width;
  margin: 0 $grid-gutter/2;
}

@each $size in $size-list {
  .col-#{$size} {
    width: $column-width * $size + $grid-gutter * ($size - 1);
  }
}
