$columns: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

.container {
  @include center-block();
  width: $xlarge-container;
}

.row {
  @include clearfix();
  display: flex;
  flex-direction: row;
  margin: 0 $grid-gutter/2;
}

.col {
  display: inline-flex;
  float: left;
  width: $column-width-xlarge;
  margin: 0 $grid-gutter/2 10px;
}

@each $size in $columns {
  .col-#{$size} {
    width: $column-width-xlarge * $size + $grid-gutter * ($size - 1);
  }
}

@media (max-width: $large-breakpoint) {
  .container {
    width: $large-container;
  }

  .col {
    width: $column-width-large;
  }

  @each $size in $columns {
    .col-#{$size} {
      width: $column-width-large * $size + $grid-gutter * ($size - 1);
    }
  }
}

@media (max-width: $medium-breakpoint) {
  .container {
    width: $medium-container;
  }

  .col {
    width: $column-width-medium;
  }

  @each $size in $columns {
    .col-#{$size} {
      width: $column-width-medium * $size + $grid-gutter * ($size - 1);
    }
  }
}

@media (max-width: $small-breakpoint) {
  .container {
    width: $small-container;
  }

  .col {
    width: 100%;
  }

  @each $size in $columns {
    .col-#{$size} {
      width: 100%;
    }
  }
}
