@import './fonts.scss';

h1, h2, h3 , h4, h5, h6 {
  font-weight: $bold;
}

h1, h2 {
  @extend .padding-vertical-large;
}

h3, h4 {
  @extend .padding-vertical-medium;
}

h5, h6 {
  @extend .padding-vertical-small;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}
